<div class="bg-dark text-white p-5">
    <nav class="row justify-content-center">
        <div class="col-2">
            <a routerLink="/home-page">Score List</a>
        </div>
        @if (authSvc.isAuthenticated()) {
        <div class="col-2">
            <a routerLink="/country-add">Add a country</a>
        </div>
        <div class="col-2">
            <a routerLink="/score-add">Add scores</a>
        </div>
        <div class="col-2">
            <a routerLink="/score-type-add">Add a score type</a>
        </div>
        }
        <div class="col-2">
            @if (!authSvc.isAuthenticated()) {
            <a routerLink="/login" [queryParams]="{ returnUrl: router.url }">Login</a>
            } @else {
            <a routerLink="#" (click)="logout()">Logout</a>
            }
        </div>
    </nav>
</div>