<header>
    <h1 class="bg-dark text-white p-5">Country Ranking</h1>
    <br />
    <div class="mx-1">
        Here you can rank countries by one of the indexes under 'Score Type'.
    </div>
    <br />
    <form class="row justify-content-center">
    <div class="col-lg-4 col-sm-12">
        <label for="continent" class="form-label">Continent</label>
        <select class="form-select" id="continent" [formControl]="continent">
            <option [value]="0">All</option>
            @for (cnt of continents(); track cnt.id) {
            <option [value]="cnt.id">{{ cnt.name }}</option>
            }
        </select>
    </div>
        <div class="col-lg-4 col-sm-12">
            <label class="form-label" for="year">Year</label>
            <input class="form-control" type="number" max="2023" min="1990" [formControl]="year" />
        </div>
        <div class="col-lg-4 col-sm-12">
            <label class="form-label" for="score-type">Score Type</label>
            <select
            class="form-select"
            [formControl]="scoreType"
            id="score-type">
                @for (typ of scoreTypes(); track typ.id) {
                    <option [value]="typ.id">{{ typ.name }}</option>
                }
            </select>
        </div>
        <div class="col-4 pt-4">
            <input class="form-check-input me-1" type="checkbox" id="isMuslim" [formControl]="isMuslim" />
            <label class="form-check-label" for="isMuslim">Muslim?</label>
        </div>
    </form>
</header>
<main class="p-3">
    @if (cnt$ | async; as cnt) {
        @if (scoreType.value == 1) {
            @for (cat of categories; track cat[0]) {
                @if (cnt.filter(x => x.score >= cat[1] && x.score < cat[2]).length !== 0) {
                    <div class="my-5">
                    @if (cat[0] !== 'Not ranked') {
                        <h2>{{ cat[0] }} Development</h2>
                    } @else {
                        <h2>{{ cat[0] }}</h2>
                    }
                        <app-hdi-table
                        [data]="cnt.filter(x => x.score >= cat[1] && x.score < cat[2])"
                        [round]="round"
                        [min]="min"
                        [max]="max" />
                    </div>
                }
            }
        } @else {
            <app-hdi-table
            [data]="cnt"
            [round]="round"
            [min]="min"
            [max]="max"
            [ascending]="ascending" />
        }
    }
</main>
<footer>
    <app-footer />
</footer>