    <div class="mx-1">
        A list of most countries ranked by their Human Development Index.
        The index is calculated by measuring three variables:
        <ul>
            <li>Health</li>
            <li>Education</li>
            <li>Standard of Living</li>
        </ul>
        It is then measured on a scale between 0 and 1.
        Most of the data here is sourced from <a href="https://hdr.undp.org/data-center/country-insights#/ranks">the UNDP</a>, while the data for Macau and Taiwan are sourced from their respective governments.
        Although the UN's website does provide similar functionality, I didn't like the way they separated countries (by "region"), and I preferred to split by continent.
        I also wanted to specifically measure Islamic countries, and there was no way to do this on the site.
    </div>
    <br />