<header class="bg-dark text-white p-5">
    <h1>Add a country</h1>
    <div>
        Here you can add/edit countries.
    </div>
</header>

<main class="my-2">
    <div class="row justify-content-center">
        <div class="col-2"></div>
        <div class="col-2">
            <label class="form-label">Name</label>
        </div>
        <div class="col-2">
            <label class="form-label">Continent</label>
        </div>
        <div class="col-2">
            <label class="form-label">Flag 1</label>
        </div>
        <div class="col-2">
            <label class="form-label">Flag 2</label>
        </div>
        <div class="col-2"></div>
    </div>
    <form [formArray]="theForm">
        @for (c of theForm.controls; track c; let i = $index) {
            <div class="row justify-content-center my-3" [formGroupName]="i">
                <div class="col-2">
                    <h2>
                        <span [innerHTML]="getFlag(i)"></span>
                    </h2>
                </div>
                <div class="col-2">
                    <input
                    type="text"
                    class="form-control"
                    list="country-names"
                    (change)="onNameChange(i)"
                    formControlName="name" />
                    
                    <datalist
                    id="country-names">
                        @for (name of countryNames(); track name) {
                            <option [value]="name"></option>
                        }
                    </datalist>
                    
                    <div class="form-check text-start">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        formControlName="isMuslim" />
                        <label class="form-check-label">Muslim?</label>
                    </div>
                </div>
                <div class="col-2">
                    <select
                    class="form-select"
                    formControlName="continent">
                        @for (cnt of continents(); track cnt.id) {
                            <option [value]="cnt.id">{{ cnt.name }}</option>
                        }
                    </select>
                </div>
                <div class="col-2">
                    <input
                    type="text"
                    class="form-control"
                    formControlName="flag1" />
                </div>
                <div class="col-2">
                    <input
                    type="text"
                    class="form-control"
                    formControlName="flag2" />
                </div>
                <div class="col-2">
                    <button
                    class="btn btn-danger"
                    (click)="deleteEntry(i)">Delete</button>
                </div>
            </div>
        }
    </form>
    <br />

    <button
    class="btn btn-success"
    (click)="addEntry()">Add</button>

    <button
    class="btn btn-primary"
    (click)="submitData()">Submit</button>
</main>

<footer>
    <app-footer />
</footer>

<app-toast />